*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #333;
    color: #fff;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: large;
    padding: 10px 5px;
    border-radius: 5px;
}
nav ul li a:hover{
    background-color: #555;
}